
    
    <main style="padding: 2%;">
        <a class="back-arrow" href="index.html">← Back to Portfolio</a>
        <section id="fun-projects">
            <h2 style="text-align: center; padding: 20px; color: white;">Small mini-game Projects</h2>
            <p style="color: white; text-align: center;"> Some projects I made on my free time just for fun.</p>
            
            <div class="game-grid">
                <div class="game-card">
                    <h3>🌊Clean the Ocean Simulator 🌊</h3>
                    <p>A mini-game using drag-and-drop mechanics to visualize ocean waste and clean it up.</p>
                    <a class="about-btn" [routerLink]="['/ocean-cleanup']">Try it</a>
                </div>
                <div class="game-card">
                    <h3>🎲Random Facts🎰</h3>
                    <p>This project presents a new, fascinating fact every time you interact with it.</p>
                    <a class="about-btn" [routerLink]="['/random-facts']">Try it</a> 
                </div>
                <div class="game-card">
                    <h3>Coming Soon</h3>
                    <p></p>
                    <!-- <a class="about-btn" href="./demos/hex-viewer.html"></a> -->
                </div>
                <div class="game-card">
                    <h3>Coming Soon</h3>
                    <p></p>
                    <!-- <a class="about-btn" href="./demos/hex-viewer.html"></a> -->
                </div>
                <div class="game-card">
                    <h3>Coming Soon</h3>
                    <p></p>
                    <!-- <a class="about-btn" href="./demos/hex-viewer.html"></a> -->
                </div>
                <div class="game-card">
                    <h3>Coming Soon</h3>
                    <p></p>
                    <!-- <a class="about-btn" href="./demos/hex-viewer.html"></a> -->
                </div>
                
            </div>
        </section>
    </main>

