.game-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 40px;
    padding: 50px 5%;
    max-width: 1200px;
    margin: 0 auto;
}
.game-card {
    background-color: #2c3e50;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.game-card h3 {
    color: white;
    margin-top: 0;
}
.game-card p {
    color: rgb(159, 155, 155);
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 20px;
}
.back-arrow {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}