.background {
    background-color: black;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.back-arrow {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.back-arrow:hover {
    color: #007BFF; 
}
.game {
    background-color: #2c3e50;
    width: 80vw;
    height: 60vh;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact-text {
    background-color: #ffffff;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fact-text.animate {
    animation: pop 0.4s ease forwards;
}

.fact-img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 10px;
    opacity: 0;           /* start hidden */
    transform: scale(0.8); /* start smaller */
    transition: all 0.3s ease;
}

.fact-img.animate {
    animation: pop 0.4s ease forwards;
}


