<section id="about">
    <div class="about-container">
        <img src="assets/images/monica.jpg" alt="Profile Picture" class="profile-img">
        <p class="picture-description">
            Hello, I am Monica Casula, a Software Engineer located in Berlin, Germany.
        </p>
        <div class="about-buttons">
            <a class="about-btn" href="assets/CV_MonicaCasula.pdf" target="_blank"> Check out CV </a>
            <a class="about-btn" href="#projects">See Projects ⬇️</a>
            <a class="about-btn" routerLink="/fun-projects">Try Fun Projects</a>
        </div>
        <div class="language-flags">
            <img src="assets/images/Flag_of_the_United_Kingdom_(3-5).svg.png" alt="English" class="flag-icon" />
            <img src="assets/images/spain-flag.png" alt="Spanish" class="flag-icon" /> 
            <img src="assets/images/Flag_of_Germany.svg.png" alt="German" class="flag-icon" />
        </div>
    </div>

    <div id="tech-stack" class="tech-stack">
        <h3>My Tech Stack</h3>
        <div class="tech-icons">
            <div class="tech-item"><img src="assets/images/html.png" alt="HTML">HTML</div>
            <div class="tech-item"><img src="assets/images/CSS3_logo.svg.png" alt="CSS">CSS</div>
            <div class="tech-item"><img src="assets/images/JavaScript-logo.png" alt="JavaScript">JavaScript</div>
            <div class="tech-item"><img src="assets/images/Tailwind_CSS_Logo.svg.png" alt="Tailwind">Tailwind CSS</div>
            <div class="tech-item"><img src="assets/images/5968322.png" alt="Node.js">Node.js</div>
            <div class="tech-item"><img src="assets/images/mongodb-icon-1.svg" alt="MongoDB">MongoDB</div>
            <div class="tech-item"><img src="assets/images/Python-logo-notext.svg.png" alt="python">Python</div>
            <div class="tech-item"><img src="assets/images/typescript.png" alt="Typescript">Typescript</div>
            <div class="tech-item"><img src="assets/images/Angular_full_color_logo.svg.png" alt="Angular">Angular</div>
            <div class="tech-item"><img src="assets/images/sass.png" alt="SASS">SASS</div>
            <div class="tech-item"><img src="assets/images/reactjs.png" alt="React">ReactJS</div>
            <div class="tech-item"><img src="assets/images/Git-Icon-1788C.png" alt="Git">Git</div>
        </div>
    </div>
</section>

<section id="projects">
    <h2>Recent Projects</h2>
    <div class="project">
        <img src="assets/images/tinku1.png" alt="Project 1">
        <div class="project-info">
            <h3>Tinku:Event Hub and Planner</h3>
            <p>Designed and coded a responsive site to plan and manage events, providing tools for organizing, task management and scheduling. Used Angular, HTML, CSS.</p>
        </div>
    </div>
    <div class="project">
        <img src="assets/images/realestatepage.png" alt="Project 5">
        <div class="project-info">
            <h3>Find your Home</h3>
            <p>A dynamic real estate website built with Angular, TypeScript, and CSS, designed to help users find their ideal home with ease. Using Angular's powerful features like two-way data binding and routing, I created an interactive, user-friendly platform. </p>
        </div>
    </div>

    <div class="project">
            <img src="assets/images/batabit1.png" alt="Project 1">
            <div class="project-info">
                <h3>Batabit</h3>
                <p>Programmed a static website using HTML and CSS where crypto investor can have useful information in one place. Design by: Platzi</p>
        </div>
    </div>
        <div class="project">
            <img src="assets/images/to-do.png" alt="Project 3">
            <div class="project-info">
                <h3>To-Do: Task Manager</h3>
                <p>Designed and created a website to manage daily tasks with TypeScript, HTML, and
                    CSS.</p>
            </div>
        </div>
</section>

<section id="contact">
    <h2>Contact</h2>
    <p>Feel free to reach out! I would love to hear from you.</p>
    <p>Email: monicagiss02&#64;gmail.com</p>
    <p>Phone: +49 1523 1498856</p>
</section>