/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.about-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.about-btn {
    text-decoration: none;
    width: auto;
    min-width: 150px; 
    text-align: center;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #7a95b0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
 }
 .about-btn:hover {
    background-color: #6ac6e2;
    transform: scale(1.05);

 }